html, body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 30px;
    padding: 15px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5e05b8;
}

.box {
    height: 40%;
    width: 25%;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
}

.notas {
    height: 60%;
    width: calc(100% - 32px);
    border: 1px solid gray;
    margin: 15px;
    overflow: auto;
}

.nota {
    padding: 5px;
}

.calcula-media {
    margin-top: 5px;
    margin-left: 15px;
}

.media {
    padding-top: 25px;
    margin-left: 15px;
}

.restaurar {
    margin-left: 15px;
}
